In [71]:
import pandas as pd
import re

In [72]:
import os
import pickle

file_path = "../data/data_diff_prices/results_sims.pkl"

with open(file_path, 'rb') as file:
    loaded_pickle = pickle.load(file)

In [26]:
loaded_pickle

[           mean_1    mean_2     std_1     std_2
 0        0.262635  0.240252  0.091602  0.101684
 1        0.286715  0.235128  0.064674  0.073625
 2        0.257227  0.312703  0.068247  0.086338
 3        0.284457  0.256298  0.099622  0.058875
 4        0.279988  0.313715  0.086410  0.087416
 ...           ...       ...       ...       ...
 1499995  0.286818  0.260951  0.075007  0.069130
 1499996  0.304691  0.245855  0.069743  0.080765
 1499997  0.305895  0.239457  0.059273  0.077386
 1499998  0.288710  0.270520  0.090006  0.090487
 1499999  0.305856  0.252723  0.075188  0.077491

 [1500000 rows x 4 columns],
            mean_1    mean_2     std_1     std_2
 0        0.278873  0.297192  0.090519  0.095268
 1        0.313869  0.261908  0.093980  0.053683
 2        0.273956  0.313428  0.094458  0.078583
 3        0.292893  0.289476  0.102835  0.074873
 4        0.288511  0.303042  0.077816  0.069953
 ...           ...       ...       ...       ...
 1499995  0.341374  0.240362  0.080578  0.080449
 1499996  0.299269  0.284810  0.079551  0.082359
 1499997  0.311822  0.251934  0.070444  0.080238
 1499998  0.304593  0.258494  0.091466  0.090325
 1499999  0.308720  0.277510  0.073380  0.073209

 [1500000 rows x 4 columns],
            mean_1    mean_2     std_1     std_2
 0        0.293201  0.351576  0.063090  0.053947
 1        0.328138  0.276528  0.057768  0.087512
 2        0.325693  0.242430  0.053189  0.098859
 3        0.323785  0.228508  0.043501  0.095663
 4        0.286033  0.287090  0.081862  0.079710
 ...           ...       ...       ...       ...
 1499995  0.353002  0.233353  0.057214  0.098647
 1499996  0.329716  0.236072  0.075903  0.100247
 1499997  0.333238  0.225940  0.092786  0.092017
 1499998  0.335648  0.250335  0.087088  0.087362
 1499999  0.336178  0.235727  0.084962  0.092603

 [1500000 rows x 4 columns],
            mean_1    mean_2     std_1     std_2
 0        0.261020  0.254770  0.097497  0.091194
 1        0.259934  0.290982  0.123885  0.068487
 2        0.240786  0.279950  0.093595  0.105060
 3        0.248455  0.277532  0.099176  0.096131
 4        0.267603  0.293809  0.071013  0.049625
 ...           ...       ...       ...       ...
 1499995  0.300029  0.248155  0.064486  0.065321
 1499996  0.295908  0.284126  0.068230  0.087315
 1499997  0.310591  0.251775  0.072051  0.084672
 1499998  0.287536  0.281283  0.069919  0.101651
 1499999  0.307816  0.258330  0.064621  0.079862

 [1500000 rows x 4 columns],
            mean_1    mean_2     std_1     std_2
 0        0.273189  0.279635  0.105480  0.099684
 1        0.301598  0.263622  0.078063  0.052630
 2        0.286784  0.220581  0.085326  0.096999
 3        0.272798  0.270931  0.092134  0.106169
 4        0.283422  0.273980  0.102078  0.072228
 ...           ...       ...       ...       ...
 1499995  0.275171  0.300776  0.084424  0.071498
 1499996  0.278105  0.276600  0.063518  0.087102
 1499997  0.257288  0.326877  0.090330  0.070617
 1499998  0.258418  0.333480  0.075995  0.054619
 1499999  0.260857  0.329351  0.083829  0.054185

 [1500000 rows x 4 columns],
            mean_1    mean_2     std_1     std_2
 0        0.291107  0.284321  0.099068  0.100088
 1        0.287203  0.296012  0.075772  0.081713
 2        0.291059  0.265687  0.078947  0.106254
 3        0.303142  0.282353  0.089737  0.080192
 4        0.283890  0.245168  0.058443  0.094437
 ...           ...       ...       ...       ...
 1499995  0.341515  0.229620  0.056759  0.050932
 1499996  0.317362  0.245329  0.059489  0.075915
 1499997  0.314409  0.257426  0.051585  0.073960
 1499998  0.315815  0.233054  0.038620  0.078478
 1499999  0.316027  0.277705  0.066114  0.064088

 [1500000 rows x 4 columns],
            mean_1    mean_2     std_1     std_2
 0        0.252791  0.302347  0.071474  0.094707
 1        0.273281  0.303355  0.074169  0.061842
 2        0.284775  0.263573  0.079229  0.067209
 3        0.278526  0.288918  0.078484  0.068793
 4        0.272168  0.294680  0.079630  0.055474
 ...           ...       ...       ...       ...
 1499995  0.358690  0.261419  0.042148  0.062230
 1499996  0.378464  0.184345  0.027059  0.064029
 1499997  0.385486  0.199194  0.038936  0.045910
 1499998  0.376526  0.216224  0.047669  0.081850
 1499999  0.372447  0.246674  0.050425  0.076863

 [1500000 rows x 4 columns],
            mean_1    mean_2     std_1     std_2
 0        0.309079  0.284031  0.062186  0.068995
 1        0.310016  0.268757  0.069682  0.080475
 2        0.306517  0.283305  0.073235  0.078512
 3        0.299253  0.291146  0.086544  0.084831
 4        0.306116  0.259125  0.065565  0.117109
 ...           ...       ...       ...       ...
 1499995  0.372990  0.173397  0.042897  0.037421
 1499996  0.350348  0.234274  0.063993  0.058975
 1499997  0.343634  0.219466  0.076659  0.075715
 1499998  0.338476  0.228282  0.077737  0.089199
 1499999  0.335518  0.197744  0.073221  0.083963

 [1500000 rows x 4 columns],
            mean_1    mean_2     std_1     std_2
 0        0.270760  0.290938  0.075636  0.097154
 1        0.267405  0.298583  0.062713  0.076720
 2        0.262554  0.278633  0.081986  0.115109
 3        0.275274  0.298394  0.085587  0.060443
 4        0.283471  0.297108  0.063192  0.074717
 ...           ...       ...       ...       ...
 1499995  0.315943  0.258382  0.086594  0.087547
 1499996  0.284194  0.282818  0.061703  0.088257
 1499997  0.297483  0.246232  0.062699  0.085500
 1499998  0.293785  0.253062  0.073411  0.088806
 1499999  0.286741  0.257492  0.083725  0.095745

 [1500000 rows x 4 columns],
            mean_1    mean_2     std_1     std_2
 0        0.262863  0.295327  0.094753  0.086895
 1        0.269963  0.278761  0.088798  0.094031
 2        0.271971  0.303387  0.089585  0.069749
 3        0.281473  0.280643  0.076945  0.069788
 4        0.314956  0.225820  0.092072  0.110736
 ...           ...       ...       ...       ...
 1499995  0.275316  0.309057  0.078221  0.091621
 1499996  0.277735  0.294671  0.082482  0.074733
 1499997  0.295512  0.269235  0.071446  0.064000
 1499998  0.285739  0.240998  0.056263  0.086438
 1499999  0.266344  0.310821  0.071426  0.082995

 [1500000 rows x 4 columns],
            mean_1    mean_2     std_1     std_2
 0        0.276473  0.300162  0.054600  0.085510
 1        0.283896  0.305405  0.036044  0.060240
 2        0.245831  0.327329  0.065651  0.105967
 3        0.272712  0.291177  0.071059  0.103303
 4        0.270254  0.301858  0.095895  0.060976
 ...           ...       ...       ...       ...
 1499995  0.243583  0.265063  0.062759  0.069490
 1499996  0.268756  0.267903  0.067230  0.056682
 1499997  0.245456  0.310173  0.044274  0.063102
 1499998  0.258283  0.274875  0.047124  0.069338
 1499999  0.246260  0.295047  0.062447  0.070274

 [1500000 rows x 4 columns],
            mean_1    mean_2     std_1     std_2
 0        0.277522  0.261593  0.094986  0.087435
 1        0.279418  0.250503  0.085159  0.081426
 2        0.267702  0.254749  0.114893  0.100132
 3        0.269810  0.259732  0.110989  0.100542
 4        0.251953  0.281158  0.082110  0.070602
 ...           ...       ...       ...       ...
 1499995  0.385740  0.232247  0.019305  0.021430
 1499996  0.376747  0.227596  0.017046  0.043832
 1499997  0.375100  0.244175  0.017791  0.041850
 1499998  0.376870  0.247766  0.018645  0.034082
 1499999  0.372341  0.260223  0.022912  0.039077

 [1500000 rows x 4 columns],
            mean_1    mean_2     std_1     std_2
 0        0.276670  0.271825  0.099533  0.056877
 1        0.250555  0.319800  0.091752  0.069292
 2        0.250081  0.276114  0.102878  0.093300
 3        0.260885  0.292817  0.092823  0.082995
 4        0.273897  0.283004  0.105326  0.041352
 ...           ...       ...       ...       ...
 1499995  0.338824  0.235871  0.071911  0.082118
 1499996  0.331954  0.235346  0.072941  0.064370
 1499997  0.330884  0.262485  0.078353  0.041961
 1499998  0.331516  0.215938  0.074172  0.066380
 1499999  0.333677  0.234769  0.080191  0.057302

 [1500000 rows x 4 columns],
            mean_1    mean_2     std_1     std_2
 0        0.314398  0.294903  0.071081  0.088166
 1        0.333008  0.237895  0.054009  0.083062
 2        0.332330  0.236421  0.051801  0.078527
 3        0.340352  0.235659  0.063902  0.071289
 4        0.268773  0.309927  0.102517  0.103962
 ...           ...       ...       ...       ...
 1499995  0.325151  0.242081  0.050929  0.064691
 1499996  0.359959  0.222365  0.050039  0.045539
 1499997  0.359847  0.223461  0.046744  0.051389
 1499998  0.345590  0.250862  0.079845  0.091176
 1499999  0.356948  0.235306  0.047619  0.054856

 [1500000 rows x 4 columns],
            mean_1    mean_2     std_1     std_2
 0        0.297519  0.265139  0.088413  0.069787
 1        0.289457  0.260165  0.076954  0.103211
 2        0.297010  0.273370  0.086392  0.063918
 3        0.283720  0.295180  0.063575  0.079410
 4        0.312398  0.252645  0.081955  0.099180
 ...           ...       ...       ...       ...
 1499995  0.324380  0.262059  0.083864  0.072123
 1499996  0.297587  0.269032  0.070261  0.073550
 1499997  0.289712  0.259378  0.085829  0.087051
 1499998  0.300991  0.295288  0.066642  0.044316
 1499999  0.289786  0.285662  0.062147  0.086893

 [1500000 rows x 4 columns],
            mean_1    mean_2     std_1     std_2
 0        0.254320  0.320356  0.052723  0.068452
 1        0.271781  0.276696  0.076466  0.067171
 2        0.251013  0.316923  0.081204  0.081439
 3        0.248703  0.310896  0.075378  0.097509
 4        0.285097  0.300613  0.113374  0.062813
 ...           ...       ...       ...       ...
 1499995  0.269327  0.275574  0.053751  0.052775
 1499996  0.260675  0.274632  0.070538  0.062813
 1499997  0.266872  0.246400  0.055418  0.059392
 1499998  0.258095  0.278681  0.061223  0.056520
 1499999  0.265816  0.257139  0.056498  0.049626

 [1500000 rows x 4 columns],
            mean_1    mean_2     std_1     std_2
 0        0.304123  0.278808  0.076509  0.087549
 1        0.286561  0.270033  0.085489  0.114248
 2        0.314241  0.256175  0.093451  0.088107
 3        0.300043  0.236158  0.084063  0.105498
 4        0.324402  0.245882  0.090612  0.084255
 ...           ...       ...       ...       ...
 1499995  0.363419  0.234736  0.030672  0.055692
 1499996  0.367643  0.209875  0.036311  0.042061
 1499997  0.361218  0.204154  0.027470  0.057356
 1499998  0.369218  0.235494  0.034201  0.038360
 1499999  0.363294  0.207672  0.027647  0.054367

 [1500000 rows x 4 columns],
            mean_1    mean_2     std_1     std_2
 0        0.282767  0.269885  0.106249  0.073362
 1        0.268192  0.304811  0.102885  0.059472
 2        0.268224  0.252351  0.102289  0.104408
 3        0.280431  0.280828  0.097027  0.073031
 4        0.272192  0.232249  0.104297  0.081719
 ...           ...       ...       ...       ...
 1499995  0.376998  0.232598  0.033990  0.044155
 1499996  0.373591  0.219879  0.036125  0.050185
 1499997  0.373571  0.195070  0.037765  0.033449
 1499998  0.363195  0.211139  0.036959  0.069071
 1499999  0.373196  0.216556  0.040001  0.046062

 [1500000 rows x 4 columns],
            mean_1    mean_2     std_1     std_2
 0        0.283350  0.271764  0.075453  0.066824
 1        0.251342  0.326463  0.081180  0.081199
 2        0.246987  0.345058  0.057222  0.057984
 3        0.268136  0.307986  0.054073  0.073885
 4        0.304764  0.249466  0.059321  0.070859
 ...           ...       ...       ...       ...
 1499995  0.358174  0.248219  0.042936  0.036665
 1499996  0.361621  0.225095  0.031951  0.045038
 1499997  0.355227  0.257088  0.048959  0.061009
 1499998  0.356158  0.197047  0.038716  0.054452
 1499999  0.360370  0.233594  0.030392  0.048146

 [1500000 rows x 4 columns],
            mean_1    mean_2     std_1     std_2
 0        0.250879  0.284216  0.086361  0.069576
 1        0.228964  0.307309  0.093811  0.091060
 2        0.245965  0.283077  0.076348  0.085208
 3        0.246387  0.297385  0.059028  0.080728
 4        0.302984  0.260768  0.073584  0.090658
 ...           ...       ...       ...       ...
 1499995  0.361887  0.223394  0.017791  0.047117
 1499996  0.315480  0.255958  0.071143  0.056671
 1499997  0.294447  0.290332  0.082986  0.082741
 1499998  0.314215  0.250514  0.066077  0.065391
 1499999  0.315037  0.235886  0.058998  0.063672

 [1500000 rows x 4 columns],
            mean_1    mean_2     std_1     std_2
 0        0.278492  0.259094  0.102358  0.080599
 1        0.252635  0.275403  0.104757  0.119292
 2        0.274428  0.278753  0.110213  0.085236
 3        0.268309  0.268329  0.096125  0.100258
 4        0.262525  0.274430  0.092682  0.093625
 ...           ...       ...       ...       ...
 1499995  0.288137  0.236653  0.070914  0.071313
 1499996  0.256427  0.263008  0.064456  0.090830
 1499997  0.264698  0.278016  0.069250  0.065227
 1499998  0.265870  0.257208  0.069071  0.069313
 1499999  0.262770  0.274006  0.078437  0.065822

 [1500000 rows x 4 columns],
            mean_1    mean_2     std_1     std_2
 0        0.260424  0.301886  0.101897  0.100056
 1        0.286837  0.271206  0.087470  0.080803
 2        0.265584  0.311951  0.092396  0.089533
 3        0.274000  0.313057  0.090286  0.051678
 4        0.309201  0.240067  0.084882  0.041798
 ...           ...       ...       ...       ...
 1499995  0.347620  0.242825  0.050395  0.080082
 1499996  0.334145  0.242553  0.031169  0.051115
 1499997  0.314947  0.255414  0.041388  0.085019
 1499998  0.335847  0.231897  0.035415  0.046299
 1499999  0.298752  0.311735  0.058833  0.081348

 [1500000 rows x 4 columns],
            mean_1    mean_2     std_1     std_2
 0        0.319526  0.253918  0.086208  0.073857
 1        0.291290  0.269265  0.082673  0.110931
 2        0.294476  0.276977  0.084804  0.099965
 3        0.310297  0.255220  0.082836  0.097623
 4        0.302809  0.265072  0.060905  0.093293
 ...           ...       ...       ...       ...
 1499995  0.348761  0.226042  0.022540  0.041030
 1499996  0.353086  0.213091  0.032425  0.028271
 1499997  0.346308  0.246850  0.029192  0.042442
 1499998  0.351478  0.229371  0.034568  0.041325
 1499999  0.349399  0.210187  0.029324  0.041708

 [1500000 rows x 4 columns],
            mean_1    mean_2     std_1     std_2
 0        0.301611  0.263436  0.064768  0.090584
 1        0.298089  0.298057  0.077264  0.079151
 2        0.295650  0.285463  0.069465  0.095663
 3        0.299986  0.261969  0.063795  0.101629
 4        0.283664  0.254150  0.100506  0.090345
 ...           ...       ...       ...       ...
 1499995  0.349968  0.221522  0.040638  0.032966
 1499996  0.353600  0.219253  0.060105  0.060468
 1499997  0.357828  0.233976  0.050882  0.043861
 1499998  0.356121  0.229417  0.049018  0.043085
 1499999  0.353206  0.258118  0.053150  0.043443

 [1500000 rows x 4 columns],
            mean_1    mean_2     std_1     std_2
 0        0.242189  0.301857  0.083918  0.062327
 1        0.257185  0.268898  0.079056  0.065447
 2        0.245108  0.254174  0.082686  0.090577
 3        0.238372  0.310157  0.075808  0.066010
 4        0.291743  0.281788  0.093539  0.065920
 ...           ...       ...       ...       ...
 1499995  0.365244  0.201041  0.026183  0.064432
 1499996  0.361766  0.222236  0.040741  0.038633
 1499997  0.358938  0.205156  0.036741  0.039579
 1499998  0.355467  0.232454  0.048991  0.061329
 1499999  0.357611  0.205213  0.038455  0.046224

 [1500000 rows x 4 columns]]

In [27]:
import numpy as np

In [73]:
hyperparam = []
for alpha in np.linspace(0.025, 0.2, 5):
    for beta in np.linspace(1e-06, 2e-05, 5):
        hyperparam.append((alpha, beta))

for i in range(len(loaded_pickle)):
    loaded_pickle[i]['alpha'] = hyperparam[i][0]
    loaded_pickle[i]['beta'] = hyperparam[i][1]
    loaded_pickle[i]['iteration'] = loaded_pickle[i].index
    loaded_pickle[i] = loaded_pickle[i][~((loaded_pickle[i]['iteration']%1000!=999) & (loaded_pickle[i]['iteration']!=0))]

In [74]:
sim_df = pd.concat(loaded_pickle, ignore_index=True)

In [75]:
sim_df = sim_df.set_index(['beta','alpha','iteration'])

In [76]:
sim_df

                            mean_1    mean_2     std_1     std_2
beta     alpha iteration
0.000001 0.025 0          0.262635  0.240252  0.091602  0.101684
               999        0.256585  0.303286  0.072936  0.081011
               1999       0.313830  0.256590  0.084654  0.091486
               2999       0.278233  0.256782  0.093830  0.079103
               3999       0.284204  0.273233  0.095725  0.085654
...                            ...       ...       ...       ...
0.000020 0.200 1495999    0.357611  0.205213  0.038455  0.046224
               1496999    0.367373  0.216004  0.034857  0.053856
               1497999    0.348520  0.215335  0.048902  0.058518
               1498999    0.354778  0.235582  0.048067  0.080096
               1499999    0.357611  0.205213  0.038455  0.046224

[37525 rows x 4 columns]

In [77]:
sim_df.rename(columns={'mean_1':'Reward1', 'mean_2':'Reward2'}, inplace=True)

In [78]:
sim_df

                           Reward1   Reward2     std_1     std_2
beta     alpha iteration
0.000001 0.025 0          0.262635  0.240252  0.091602  0.101684
               999        0.256585  0.303286  0.072936  0.081011
               1999       0.313830  0.256590  0.084654  0.091486
               2999       0.278233  0.256782  0.093830  0.079103
               3999       0.284204  0.273233  0.095725  0.085654
...                            ...       ...       ...       ...
0.000020 0.200 1495999    0.357611  0.205213  0.038455  0.046224
               1496999    0.367373  0.216004  0.034857  0.053856
               1497999    0.348520  0.215335  0.048902  0.058518
               1498999    0.354778  0.235582  0.048067  0.080096
               1499999    0.357611  0.205213  0.038455  0.046224

[37525 rows x 4 columns]

In [80]:
sim_df.to_csv('../final_data/res_diff_pricing_time.csv', index=True)

In [3]:
import os
import pickle

folder_path = "../data/data/data_sim/"

# Get a list of all files in the folder
pickle_files = [file for file in os.listdir(folder_path) if file.endswith('.pkl')]

# Loop through the list of pickle files and load them
loaded_pickles = []
for file_name in pickle_files:
    file_path = os.path.join(folder_path, file_name)
    with open(file_path, 'rb') as file:
        loaded_pickle = pickle.load(file)
        loaded_pickles.append(loaded_pickle)

# Now, loaded_pickles contains all the pickles from the folder
sim_df = pd.concat(loaded_pickles, ignore_index=True)

In [4]:
sim_df.dtypes

Iteration     object
Rewards       object
Prices        object
Epsilon       object
beta         float64
index          int64
dtype: object

In [5]:
#Convert into int if digit
sim_df['Iteration'] = sim_df['Iteration'].apply(lambda x: int(x) if str(x).isdigit() else x)


#Separate the profits, prices and Epsilon of each player
sim_df[['Reward1', 'Reward2']] = sim_df['Rewards'].apply(lambda x: pd.Series(x))
sim_df[['Price1', 'Price2']] = sim_df['Prices'].apply(lambda x: pd.Series(x))
sim_df[['Epsilon1', 'Epsilon2']] = sim_df['Epsilon'].apply(lambda x: pd.Series(x))

#Drop the useless columns
sim_df = sim_df.drop(columns=['Rewards', 'Prices', 'Epsilon'])

/var/folders/1v/lw80nwsd61d7sp0q_pzj0ppm0000gp/T/ipykernel_996/3638808642.py:6: FutureWarning: Returning a DataFrame from Series.apply when the supplied function returns a Series is deprecated and will be removed in a future version.
  sim_df[['Reward1', 'Reward2']] = sim_df['Rewards'].apply(lambda x: pd.Series(x))
/var/folders/1v/lw80nwsd61d7sp0q_pzj0ppm0000gp/T/ipykernel_996/3638808642.py:7: FutureWarning: Returning a DataFrame from Series.apply when the supplied function returns a Series is deprecated and will be removed in a future version.
  sim_df[['Price1', 'Price2']] = sim_df['Prices'].apply(lambda x: pd.Series(x))
/var/folders/1v/lw80nwsd61d7sp0q_pzj0ppm0000gp/T/ipykernel_996/3638808642.py:8: FutureWarning: Returning a DataFrame from Series.apply when the supplied function returns a Series is deprecated and will be removed in a future version.
  sim_df[['Epsilon1', 'Epsilon2']] = sim_df['Epsilon'].apply(lambda x: pd.Series(x))

In [6]:
sim_df

,Iteration,beta,index,Reward1,Reward2,Price1,Price2,Epsilon1,Epsilon2
0,0,0.002500,1,0.200833,0.280442,1.61950,1.46350,1.000000e+00,1.000000e+00
1,10000,0.002500,1,0.191614,0.294219,1.65850,1.46350,1.392271e-11,1.392271e-11
2,20000,0.002500,1,0.191614,0.294219,1.65850,1.46350,1.933578e-22,1.933578e-22
3,30000,0.002500,1,0.191614,0.294219,1.65850,1.46350,2.685342e-33,2.685342e-33
4,40000,0.002500,1,0.191614,0.294219,1.65850,1.46350,3.729388e-44,3.729388e-44
...,...,...,...,...,...,...,...,...,...
200395,9970000,0.000025,10,0.169348,0.374261,1.85350,1.54150,5.650817e-109,5.650817e-109
200396,9980000,0.000025,10,0.292024,0.362491,1.85350,1.77550,4.400861e-109,4.400861e-109
200397,9990000,0.000025,10,0.372947,0.297938,1.85350,1.93150,3.427394e-109,3.427394e-109
200398,10000000,0.000025,10,0.228329,0.384294,1.85350,1.65850,2.669257e-109,2.669257e-109
200399,last 100 iterations mean,0.000025,10,0.286081,0.325032,1.78798,1.72519,2.672563e-109,2.672563e-109

In [7]:
sim_df.to_csv('../final_data/res_same_beta.csv', index=False)

In [8]:
import os
import pickle

folder_path = "../data/data/data_Q/"

# Get a list of all files in the folder
pickle_files = [file for file in os.listdir(folder_path) if file.endswith('.pkl')]

# Loop through the list of pickle files and load them
loaded_pickles = []
for file_name in pickle_files:
    file_path = os.path.join(folder_path, file_name)
    with open(file_path, 'rb') as file:
        loaded_pickle = pickle.load(file)
        loaded_pickles.append(loaded_pickle)

# Now, loaded_pickles contains all the pickles from the folder
Q_df = pd.concat(loaded_pickles, ignore_index=True)

In [9]:
Q_df.to_csv('../final_data/Q_same_beta.csv', index=False)

In [10]:
import os
import pickle

folder_path = "../data/data_simbis/"

# Get a list of all files in the folder
pickle_files = [file for file in os.listdir(folder_path) if file.endswith('.pkl')]

# Loop through the list of pickle files and load them
loaded_pickles = []
for file_name in pickle_files:
    file_path = os.path.join(folder_path, file_name)
    with open(file_path, 'rb') as file:
        loaded_pickle = pickle.load(file)
        loaded_pickles.append(loaded_pickle)

# Now, loaded_pickles contains all the pickles from the folder
sim_df = pd.concat(loaded_pickles, ignore_index=True)

In [11]:
sim_df.dtypes

Iteration     object
Rewards       object
Prices        object
Epsilon       object
beta         float64
index          int64
dtype: object

In [12]:
sim_df['Rewards'][0][1]

0.28044202997287715

In [13]:
def extract_numbers(text):
    numbers = re.findall(r'-?\d+\.?\d*(?:e[-+]?\d+)?', text)
    return [float(num) for num in numbers]

# # Apply the function to the column and convert the strings into lists of two numbers
# sim_df['Rewards'] = sim_df['Rewards'].apply(extract_numbers)
# sim_df['Prices'] = sim_df['Prices'].apply(extract_numbers)
# sim_df['Epsilon'] = sim_df['Epsilon'].apply(extract_numbers)

#Convert into int if digit
sim_df['Iteration'] = sim_df['Iteration'].apply(lambda x: int(x) if str(x).isdigit() else x)


#Separate the profits, prices and Epsilon of each player
sim_df[['Reward1', 'Reward2']] = sim_df['Rewards'].apply(lambda x: pd.Series(x))
sim_df[['Price1', 'Price2']] = sim_df['Prices'].apply(lambda x: pd.Series(x))
sim_df[['Epsilon1', 'Epsilon2']] = sim_df['Epsilon'].apply(lambda x: pd.Series(x))

#Drop the useless columns
sim_df = sim_df.drop(columns=['Rewards', 'Prices', 'Epsilon'])

/var/folders/1v/lw80nwsd61d7sp0q_pzj0ppm0000gp/T/ipykernel_996/355113774.py:15: FutureWarning: Returning a DataFrame from Series.apply when the supplied function returns a Series is deprecated and will be removed in a future version.
  sim_df[['Reward1', 'Reward2']] = sim_df['Rewards'].apply(lambda x: pd.Series(x))
/var/folders/1v/lw80nwsd61d7sp0q_pzj0ppm0000gp/T/ipykernel_996/355113774.py:16: FutureWarning: Returning a DataFrame from Series.apply when the supplied function returns a Series is deprecated and will be removed in a future version.
  sim_df[['Price1', 'Price2']] = sim_df['Prices'].apply(lambda x: pd.Series(x))
/var/folders/1v/lw80nwsd61d7sp0q_pzj0ppm0000gp/T/ipykernel_996/355113774.py:17: FutureWarning: Returning a DataFrame from Series.apply when the supplied function returns a Series is deprecated and will be removed in a future version.
  sim_df[['Epsilon1', 'Epsilon2']] = sim_df['Epsilon'].apply(lambda x: pd.Series(x))

In [14]:
sim_df

,Iteration,beta,index,Reward1,Reward2,Price1,Price2,Epsilon1,Epsilon2
0,0,0.002500,1,0.200833,0.280442,1.6195,1.4635,1.000000e+00,1.000000e+00
1,10000,0.002500,1,0.217067,0.202776,1.4245,1.4635,1.392271e-11,9.048465e-01
2,20000,0.002500,1,0.298722,0.271664,1.6195,1.6585,1.933578e-22,8.187389e-01
3,30000,0.002500,1,0.207851,0.384671,1.8535,1.6195,2.685342e-33,7.408256e-01
4,40000,0.002500,1,0.212486,0.399740,1.8925,1.6585,3.729388e-44,6.703267e-01
...,...,...,...,...,...,...,...,...,...
200395,9970000,0.000025,10,0.159728,0.405275,1.9315,1.5805,5.650817e-109,5.021628e-44
200396,9980000,0.000025,10,0.159728,0.405275,1.9315,1.5805,4.400861e-109,4.543756e-44
200397,9990000,0.000025,10,0.159728,0.405275,1.9315,1.5805,3.427394e-109,4.111361e-44
200398,10000000,0.000025,10,0.159728,0.405275,1.9315,1.5805,2.669257e-109,3.720113e-44
200399,last 100 iterations mean,0.000025,10,0.241790,0.348921,1.8145,1.6585,2.672563e-109,3.721955e-44

In [15]:
sim_df.to_csv('../final_data/res_diff_beta.csv', index=False)

In [16]:
import os
import pickle

folder_path = "../data/data_Qbis/"

# Get a list of all files in the folder
pickle_files = [file for file in os.listdir(folder_path) if file.endswith('.pkl')]

# Loop through the list of pickle files and load them
loaded_pickles = []
for file_name in pickle_files:
    file_path = os.path.join(folder_path, file_name)
    with open(file_path, 'rb') as file:
        loaded_pickle = pickle.load(file)
        loaded_pickles.append(loaded_pickle)

# Now, loaded_pickles contains all the pickles from the folder
Q_df = pd.concat(loaded_pickles, ignore_index=True)

In [17]:
Q_df.to_csv('../final_data/Q_diff_beta.csv', index=False)